<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papelería Papelia - POS</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <main>
        <section class="contenido-principal">
            <h2>Catálogo - Productos</h2>
            <article class="tarjeta-producto">
                <h3>Cuaderno</h3>
                <p>Cuaderno profesional de pasta dura</p>
            </article>
            <article class="tarjeta-producto">
                <h3>Pluma</h3>
                <p>Tinta fina fluida de alta precisión para escritura ejecutiva.</p>
            </article>
        </section>
        <aside class="panel-lateral">
            <h3>Panel de Filtros</h3>
            <p>Selecciona la región: La Venta, San Lorenzo</p>
        </aside>
    </main>

</body>

</html>

