<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Papelia {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <header>
        <h1>{% block cabecera %}Papelería "Papelia"{% endblock %}</h1>
    </header>

    <nav>
        <!-- Menú de navegación -->
    </nav>

    <main>
        <div class="content-area">
            {% block contenido %}{% endblock %}
        </div>
    </main>

    <footer>
        <p>© 2026 Papelería "Papelia"</p>
    </footer>
</body>

</html>

